ul {
    /*position: fixed;*/
    /*top: 0;*/
    /*width: 100%;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.home {
    background-color: #04AA6D;
    display: flex;
    height: 100%;
    margin:auto;
}

a {
    font-weight: 700;
}
footer{
    align-items: center;
    justify-self: flex-end;
}