<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Heart Rate Chart</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>heartrate</h1>

<!--<p>Click <a th:href="@{/hello}">here</a> to login</p>-->
<!--<p>Click <a th:href="@{/register}">here</a> to register</p>-->
</body>
</html>