<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Inzynier</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div style="text-align:center;" th:id="userInfo" th:if="!${#authentication.getName().equals('anonymousUser')}">
    <!--img th:src="@{${'/images/'+image.fileName}}" alt="Image">-->
    <h1>
        <div th:text=" 'Użytkownik: ' + ${userInfo.get('username')}"/>
        <div th:text="'Płeć: '+${userInfo.get('gender')}"/>
        <div th:text="'Waga: '+${userInfo.get('weight')}"/>
        <div th:text="'Wysokość: '+ ${userInfo.get('height')}"/>
        <div th:text="'Data urodzin: '+ ${userInfo.get('birthday')}"/>
    </h1>
    tutaj bedzie zdjecie

</div>

<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>