<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register Form</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <div th:replace="fragments/header :: header-css"></div>
    <link rel="stylesheet" th:href="@{/css/signin.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<form action="#" class="form-signin" method="post" th:action="@{/register}">
    <label for="username">Username:</label>
    <input autofocus class="form-control" id="username" th:field="${form.username}" type="text">
    <p class="error" th:text="${usernameValRes}"></p>
    <p class="error" th:text="${userExistsException}"></p>


    <label for="email">Email:</label>
    <input autofocus class="form-control" id="email" th:field="${form.email}" type="text">
    <p class="error" th:text="${emailValRes}"></p>

    <label for="password">Password:</label>
    <input autofocus class="form-control" id="password" th:field="${form.password}" type="password">
    <p class="error" th:text="${passwordValRes}"></p>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>

    <!--  <div th:replace="fragments/footer :: footer"></div>-->
</form>

</body>
</html>